@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-dark: #1e3a8a;
  --color-neutral-light: #f3f4f6;
  --color-neutral-dark: #1f2937;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
